<div class="container ">
<div class="row text-center m-3">
  <div class="col-md-12">
    <ul>
      <li *ngFor="let item of myArray">
        {{item}}
      </li>
    </ul>
  </div>

</div>
<div class="row">
  <div class="col-md-12">
    <!-- event filtering -->
    <input type="text" class="form-control" (keyup.enter)="onKeyUp()">
    <br>
    <button [style.backgroundColor]="isActive?'blue':'red'" [style.color]="isActive?'white':'black'">Test Button</button>
    <br>
    <hr>
    <h3>{{ dob.toString() | agePipe }}</h3>
    <h3>{{tmpVar | firstCapital }}</h3>
  </div>
</div>
</div>
